In [1]:
from src.database import connect
import requests
import pandas as pd
from src.models import GrowMeOrganic

In [4]:
HEADERS = {"Cookie": '_gcl_au=1.1.1018492616.1654861675; tk_or=%22https%3A%2F%2Fwww.google.com%2F%22; _fbp=fb.1.1654861680272.1737963368; _hjSessionUser_2739501=eyJpZCI6IjYyY2QzNDU0LTk4ZWMtNTBiYi1iMWJjLWQwMjNkYTM0ZTRlZiIsImNyZWF0ZWQiOjE2NTQ4NjE2ODA1NDQsImV4aXN0aW5nIjp0cnVlfQ==; usetiful-visitor-ident=a8f91f19-1fa3-4ac8-31aa-1708dae1bb09; crisp-client%2Fsession%2F2dc87a17-fcbe-4c6b-ac38-cbd56e9e2376=session_b17d699e-12b9-4efa-8bc5-d18afb10ef1f; crisp-client%2Fsocket%2F2dc87a17-fcbe-4c6b-ac38-cbd56e9e2376=1; _tcfpup=1657190242155; ti_ukp=88464a3d.db6d.32db.0076.2f019bfe974e; _oauth_id_token_cookie_sub=628a43323f3cf5bd228b7d2d; _gid=GA1.2.244785558.1657454838; tk_r3d=%22https%3A%2F%2Fwww.google.com%2F%22; _oauth_id_token_cookie=6d4ab3444a4ceedc08593e7827f62d63-4e3b440afed7182eebd965d6404a2df7-c208fcf8fcb045cc838398bb6eaa4c8b-fa929a210d3c145de9844fffa159a221; tk_lr=%22%22; _hjSession_2739501=eyJpZCI6IjE0YzkzZDE5LTgxODAtNDIzNy1iYTA4LTM0NWM0OWJlNzViMiIsImNyZWF0ZWQiOjE2NTc3MTU3OTIzMTIsImluU2FtcGxlIjpmYWxzZX0=; _hjAbsoluteSessionInProgress=0; _ga=GA1.2.2136330129.1654861678; _tcSessInfo={"timestamp":1657718049930,"pageView":0}; _tcSecSess={"sess":"d48167b99e82f5ee8b0fa473136","device_type":"desktop","ip":"45.14.71.x","tcvfp":"baad5b2b-e6de-adf2-3460-9da708465157","locale":"ru_RU","country":"NL","city":"","region":"","timestamp":1657718053032}; _tcafterScoket=1; PHPSESSID=at7326eq3arro2n96deqm84et4; _oauth_id_token=KVS_SUB628a43323f3cf5bd228b7d2d; _ga_E61RPSQPM7=GS1.1.1657718048.18.1.1657718069.0'}

In [7]:
connection = connect("sqlite/grow_me_organic")

In [8]:
cursor = connection.cursor()

In [8]:
list(map(lambda x: x[0], cursor.execute("""
select query
from countries
""").fetchall()))

['Afghanistan',
 'Aland islands',
 'Albania',
 'Algeria',
 'American samoa',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antarctica',
 'Antigua and barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and herzegovina',
 'Botswana',
 'Bouvet island',
 'Brazil',
 'British indian ocean territory',
 'British virgin islands',
 'Brunei',
 'Brunei darussalam',
 'Bulgaria',
 'Burkina faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape verde',
 'Caribbean nations',
 'Caribbean netherlands',
 'Cayman islands',
 'Central african republic',
 'Chad',
 'Chile',
 'China',
 'Christmas island',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook islands',
 'Costa rica',
 'Cote d’ivoire (ivory coast)',
 'Croatia',
 'Cuba',
 'Curaçao',
 'Cyprus',
 'Czech republic',
 'Czechia',
 'Côte d’ivoire',
 'Democratic republic of the congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican republic',
 'East timor',
 'Ecuador',
 'Egypt',
 'El salvador',
 'Equatorial guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Falkland islands (malvinas)',
 'Faroe islands',
 'Federated states of micronesia',
 'Fiji',
 'Finland',
 'France',
 'French guiana',
 'French polynesia',
 'French southern territories',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guernsey',
 'Guinea',
 'Guinea-bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Isle of man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea',
 'Korea (north)',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macao',
 'Macau',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall islands',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nan',
 'Nauru',
 'Nepal',
 'Netherlands',
 'Netherlands antilles',
 'New caledonia',
 'New zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'Norfolk island',
 'North korea',
 'Northern mariana islands',
 'Norway',
 'Oman',
 'Other',
 'Pakistan',
 'Palau',
 'Palestine',
 'Palestinian territory',
 'Panama',
 'Papua new guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto rico',
 'Qatar',
 'Republic of the congo',
 'Reunion',
 'Romania',
 'Russia',
 'Russian federation',
 'Rwanda',
 'Réunion',
 'Saint barthélemy',
 'Saint helena',
 'Saint kitts and nevis',
 'Saint lucia',
 'Saint martin',
 'Saint pierre and miquelon',
 'Saint vincent and the grenadines',
 'Samoa',
 'San marino',
 'Sao tome and principe',
 'Saudi arabia',
 'Senegal',
 'Serbia',
 'Serbia and montenegro',
 'Seychelles',
 'Sierra leone',
 'Singapore',
 'Sint maarten',
 'Slovak republic',
 'Slovakia',
 'Slovenia',
 'Solomon islands',
 'Somalia',
 'South africa',
 'South korea',
 'South sudan',
 'Spain',
 'Sri lanka',
 'Sudan',
 'Sultanate of oman',
 'Suriname',
 'Svalbard and jan mayen',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'São tomé and príncipe',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-leste',
 'Togo',
 'Tokelau',
 'Tonga',
 'Trinidad and tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and caicos islands',
 'Tuvalu',
 'U.s. virgin islands',
 'Uganda',
 'Ukraine',
 'United arab emirates',
 'United kingdom',
 'United states',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Vatican city state (holy see)',
 'Venezuela',
 'Vietnam',
 'Virgin islands (british)',
 'Virgin islands (u.s.)',
 'Western sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe',
 'Åland islands']

In [3]:
grow_me_organic = GrowMeOrganic(headers=HEADERS)

In [4]:
grow_me_organic.get_task(country="France", industry="Accounting", size="51-200")

True

In [5]:
grow_me_organic.get_report(country="France", industry="Accounting", size="51-200")

,name,domain,industry,locality,country,year_found,size_range,linkedin_url,size,phone
0,Fideliance - réseau crowe horwath,fideliance.fr,accounting,"fontainebleau, île-de-france, france",france,1978.0,51-200,https://linkedin.com/company/fideliance---rÃ©s...,55,142857143
1,Comptacom,compta.com,accounting,"laval, pays de la loire, france",france,1988.0,51-200,https://linkedin.com/company/compta-expert,72,+33 2 43 64 17 17
2,Aliantis,aliantis.net,accounting,"lyon, auvergne-rhône-alpes, france",france,1969.0,51-200,https://linkedin.com/company/aliantis,52,+33 4 78 61 28 70
3,Geirec,geirec.com,accounting,"rennes, bretagne, france",france,1979.0,51-200,https://linkedin.com/company/geirec,37,NaN
4,Ecl direct,expert-comptable-tpe.fr,accounting,"paris, île-de-france, france",france,2007.0,51-200,https://linkedin.com/company/ecl-direct,91,+33 1 45 61 31 31
...,...,...,...,...,...,...,...,...,...,...
87,Afe (audit finance expert),experts-afe.fr,accounting,"france, aquitaine, france",france,NaN,51-200,https://linkedin.com/company/audit-finance-expert,68,+33 4 99 13 76 20
88,Odiceo,odiceo.fr,accounting,"villeurbanne, auvergne-rhône-alpes, france",france,2000.0,51-200,https://linkedin.com/company/odiceo,155,+33 4 72 69 53 00
89,"Michel Creuzot SA, Investment Banking Arm",mcreuzot.fdefi.com,accounting,"19 Rue de la Bosserie, Gien, Centre, 45500, Fr...",france,NaN,51-200,http://www.linkedin.com/company/michel-creuzot...,51-200 employees,NaN
90,BCRH & Associes,bcrh.ile-des-medias.com,accounting,"1 Rue de Courcelles, Paris, Ile de France, 750...",france,NaN,51-200,http://www.linkedin.com/company/bcrh-&-associes,51-200 employees,NaN
91,ARESXPERT,aresxpert.talenz.fr,accounting,"26, boulevard Saint Roch, AVIGNON, FRANCE, 840...",france,1993.0,51-200,http://www.linkedin.com/company/groupe-aresxpert,51-200 employees,NaN

In [9]:
cursor.execute("""
create table companies (
    name TEXT(255),
    domain TEXT(255),
    industry TEXT(255),
    locality TEXT(255),
    country TEXT(255),
    year_found INTEGER,
    size_range TEXT(255),
    linkedin_url TEXT(255),
    size TEXT(255),
    phone TEXT(255)
""")

OperationalError: incomplete input